<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container" >
      <div class="d-flex justify-content-between align-items-center mt-2 " >
        <h2 class="product-title">34吋曲面電競螢幕</h2>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details" >
    <div class="container" >
      <div class="row ">
        <div class="col-lg-8 text-center ">
          <img src="/static/img/screen.jpg" width="800" height="800" alt="" />
        </div>
        <div class="col-lg-4 mt-5">
          <div class="portfolio-info" >
            <h3>商品特色</h3>
            <ul>
              <li><strong>★</strong> 144Hz 畫面更新率，物體清晰，遊戲流暢</li>
              <li><strong>★</strong> 21:9 AH-IPS 曲面電競，支援HDR10</li>
              <li><strong>★</strong> 十字準線，黑暗場景穩定模式，動態同步，自訂模式</li>
              <div class="last mt-3 mb-2"><b>倒數：</b><span id="stock">20</span><small> 台</small></div>

              <li>
                <b>數量: </b>
                <select name="count" id="count">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </li>
            </ul>
          </div>
          <div class="portfolio-description mt-3">
            <span class="text-right">
              <sub class="js_price txt_origin" style="display: inline"><b>TWD $<span
                    class="line_through js_price_span">13,000</span></b></sub>
              <h2 class="js_onsale_price txt_sale">
                <b><span class="currency_sign">TWD $</span><span class="js_onsale_price_span">9,900</span></b>
              </h2>
            </span>

            <a class="btn btn-outline-danger mt-2" href="#" role="button">搶購</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Details Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container" >
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h3>搶購狀況</h3>
          <p>
            Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni
            eligendi fuga maxime saepe commodi placeat.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/static/js/main.js"></script>
