<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center mt-5">
        <h1>速速搶購</h1>
        <h2>找高CP值，來這裡就對了!</h2>
        <div class="d-flex">
          <a href="#about" class="btn-get-started scrollto">搶好康去 !</a>
        </div>
        <p class="mt-5" style="font-size:30px; color:grey">距開搶還剩<span style="color:rgb(255, 145, 0) ;"> 05: 00:
            00</span></p>
        <p class="mt-2"> 最多限購 <span style="color:rgba(255, 174, 0, 0.717); font-weight:bold; font-size:30px;">3</span> 組
        </p>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img mt-5">
        <img src="/static/img/clock.webp" class="img-fluid animated" width="800" height="565" alt="clock" />
      </div>
    </div>
  </div>
</section>