<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h3>搶購狀況</h3>
          <div class="row mt-3 text-center">
            <div class="col-auto">
              <label>回應時間 秒:毫秒</label>
              {{#each recordTime}}
              <p>{{this}}</p>
              {{/each}}
            </div>
            <div class="col-auto">
              <label>回應消息</label>
              {{#each snapUpResponse}}
              <p>{{this}}</p>
              {{/each}}
            </div>
            <div class="col-auto">
              <label>更新 DB 時間</label>
              {{#each renewDBtime}}
              <p>{{this}}</p>
              {{/each}}
            </div>
            <div class="col-auto">
              <label>是否搶到商品</label>
              {{#each getProductMsg}}
              <p>{{this}}</p>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>
